
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.container {
max-width: 1170px;
width: 100%;
height: 100%;
padding: 0 15px;
margin: 0 auto;

}

header,footer{
    background: #6C63FF;
}
header{
    height: 80px;
    
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.my-buttom{
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    background-color: transparent;
    font-weight: 500;                
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;

}
h1,
h2,
.my-button {
    text-transform: uppercase; 
}

h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    color: #2F2E41;
    text-align: center;
    margin-bottom: 70px;
}

.cards-wrap{
    display: flex;
    gap: 15px;
}

.card{
    background: #FFFFFF;
    border: 2px solid #E7E7E7;
    border-radius: 5px;
    width: 370px;
    padding: 46px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
}

.card-img{
    margin: 40px 0 36px;
}

a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
section{
    padding: 100px 0;
}

li {
    pad: 9px 15px;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

footer{
    padding: 20px 0;
}